services:
  mihomo:

    container_name: tproxy-transparent-proxy

    build:
      context: .
      dockerfile: Dockerfile
      args:
        HTTP_PROXY: ${HTTP_PROXY:-}
        HTTPS_PROXY: ${HTTPS_PROXY:-}
        

    image: whalefell/tproxy-transparent-proxy:latest
    restart: always
    
    # Required for nft/ip and transparent proxy routing rules.
    cap_add:
      - NET_ADMIN
      - NET_RAW
    
    sysctls:
      net.ipv4.ip_forward: "1"
      net.ipv6.conf.all.forwarding: "1"
      net.core.somaxconn: "1024"
      net.ipv4.conf.all.rp_filter: "0"
      net.ipv4.conf.default.rp_filter: "0"

    volumes:
      - ./config:/mihomo/config
      - ./data:/mihomo/

    networks:
      mihomo-macvlan:
        ipv4_address: 192.168.8.213
        ipv6_address: ${MACVLAN_IPV6_ADDRESS:-fd42:8:8::213}

    environment:
      TZ: Asia/Shanghai

networks:
  mihomo-macvlan:
    # name: mihomo-macvlan

    driver: macvlan
    enable_ipv6: true

    driver_opts:
      # Replace with your host NIC name, e.g. eth0/enp3s0.
      parent: enp2s0
    
    ipam:
      config:
        - subnet: 192.168.8.0/24
          gateway: 192.168.8.1
        - subnet: ${MACVLAN_IPV6_SUBNET:-fd42:8:8::/64}
          gateway: ${MACVLAN_IPV6_GATEWAY:-fd42:8:8::1}
